.cashBackDiv {
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(119.77deg, #391026 2.99%, #391026 100%);
  background: var(--gray-600);
  border-radius: 10px;
}

.cashback_button1 {
  background: #d9d9d91a;
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  border: 0;
  margin-bottom: 8px;
}

.cashback_buttonBonus1 {
  background: #d9d9d91a;
  border-radius: 10px;
  padding: 16px;
  color: #fff;
  font-weight: 700;
  border: 0;
}

.cashback_buttonBonus2 {
  width: 55% !important;
  margin: 0 auto;
  border-radius: 8px;
  padding: 16px;
  color: #fff;
  font-weight: 700;
  border: 0;
  margin-bottom: 8px;
  outline: none;
  font-size: 16px;
}

.cash_btn {
  font-size: 13px;
  margin-top: 5px;
}

.vipCashImage {
  float: right;
  width: 8rem;
  height: 4rem;
  margin-top: 5px;
}

.digit {
  background: linear-gradient(180deg, #424242c4 -300%, #a2246b00 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #b7b5b6;
}
.digit h6 {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.digit_check1 {
  font-size: 72px;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 100px;
  text-align: center;
}

.digit_check2 {
  font-size: 72px;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 100px;
  text-align: center;
}

.digit_check3 {
  font-size: 72px;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 100px;
  text-align: center;
}

@media screen and (max-width: 1299px) {
  .digit_check1 {
    font-size: clamp(36px, 6vw, 70px);
  }
  .digit h6.fs-6 {
    font-size: clamp(14px, 1.7vw, 16px) !important;
  }
}

@media screen and (max-width: 991.98px) {
  .cashback_buttonBonus1 {
    display: none;
  }
}

@media screen and (max-width:767.98px) {
  .vipCashImage {
    position: absolute;
  }
}

@media screen and (min-width: 993px) {
  .cashback_buttonBonus2 {
    display: block;
  }
}