/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"); */
/* Scroll Bar Universal */
/* width */


:root {
  --dark: #232323;
  --red: #ff0000;
  --white: #fff;
  --black: #000000;
  --green: #6dfe8f;
  --gray: #000;
  --gray-100: #000;
  --gray-300: #373a43;
  --gray-400: #b5b5b5;
  --gray-500: #3c3f48;
  --gray-600: #0f131a;

  --gray-100: #b5b5b5;
  --gray-200: #bebebe;
  --gray-300: #666666;
  --gray-400: #3a3a3a;
  --gray-500: #333131;
  --gray-600: #2b2b2b;
  --gray-700: #232323;
  --gray-800: #171717;
  --gray-charcoal: #212529;
  --blue-royal-transparent: #4473e9e0;
  --blue-violet-transparent: #7e43def5;
  --blue: #6458e3;
  --blue-deep: #1d1b31;
  --blue-violet: #7e43de;
  --blue-vivid: #4473e9;
  --blue-charcoal: #272c4b;
  --blue-royal: #3366db;
  --blue-sapphire: #2f459f;
  --blue-dark-slate: #32395f;
  --blue-gray-mute: #7f8aba;
  --purple-plum: #4c184e;
  --burgundy-red: #420c29;
  --burgundy-dark: #31001b;
  --purple-pink: #86188f;
  --deep-plum: #4a184b;
  --deep-pink: #a2246b;
  --golden-yellow: #ffd569;
  --pink-coral: #dd566e;
  --yellow-vivid: #ffc635;
}

/* Define reusable font-weight classes with custom naming convention */
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

/* Define reusable font-size classes */
.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-36 {
  font-size: 36px;
}

html,
body {
  font-family: inherit;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: none; */
  box-shadow: inset 0 0 5px #808080;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For chrome, Safari, Edge, Opera : */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px var(--gray-600, #420c29) inset;
  border-radius: 0 !important;
}

/* input::placeholder{color: #fff!important;} */
body {
  background-color: var(--gray-700) !important;
  font-size: 14px !important;
  line-height: normal !important;
  overflow-x: hidden;
  width: 100%;
  color: #a6b0da !important;
  /* font-family: 'Inter', sans-serif !important; */
  font-family: inherit !important;
  font-weight: 400 !important;
}

.container {
  max-width: 1054px;
}

main {
  transition: 0.5s;
  margin-top: 75px;
  margin-top: 65px;
  margin-bottom: 20px;
  position: relative;
  margin-left: 68px;
}

main.sideBarOpen {
  margin-left: 315px;
  margin-left: 220px;
}

img {
  max-width: 100%;
}

button {
  /* font-family: 'Inter', sans-serif !important; */
  font-family: inherit !important;
}

.disabled {
  cursor: not-allowed !important;
}

.promotion-banner img {
  max-height: 300px;
}

.box-bonus {
  width: 150px;
  background-color: #2b54e6;
  color: #fff;
  padding: 3px;
  position: relative;
  text-align: center;
  border-radius: 20px;
  margin-left: 16px;
  font-weight: 600;
}

.box-bonus.arrow-bottom:after {
  content: ' ';
  position: absolute;
  right: 30px;
  bottom: -12px;
  border-top: 15px solid #2b54e6;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}

/*------ Header end ------*/

/* ----------- Home Page CSS -------------*/

.homeBanner-slider .slick-slide img {
  object-fit: cover;
  max-width: 100%;
  max-height: 300px;
}

.homeOffer .homeOffer-img img {
  width: 100%;
}

.homeOffer .homeOffer-img {
  margin-top: 12px;
}

.homeOffer .homeOffer-img img {
  width: 100%;
}

.image_box {
  border-radius: 10px;
}

.losin_btn {
  color: #fff;
  font-weight: 600;
  padding: 7px 25px;
}

.losin_btn:hover {
  color: #fff;
}

.BannerBigHomeSlider {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.gamePagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamePagination .btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px;
  border: 0;
}

.gamePagination .btn.pegi-first,
.gamePagination .btn.pegi-last {
  background-color: #2283f6;
}

.gamePagination .btn.pegi-back,
.gamePagination .btn.pegi-prev {
  padding: 5px;
  background-color: #dd234b;
}

.gamePagination .btn.pegi-back svg,
.gamePagination .btn.pegi-prev svg {
  font-size: 26px;
}

.gamePagination .btn:hover {
  background-color: #272c4b;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--gray-300) !important;
}

.modal_form_signIn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social_icons_form {
  background: var(--gray-500, #420c29);
  padding: 10px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0px 8px;
}

.social_icons_form img {
  max-width: 20px;
  height: auto;
}

.googleLogin-btn button {
  border-radius: 100% !important;
  width: 29px;
  height: 29px;
  background-image: url(../../public/assets/images/gmailLogin-btn.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
  opacity: 1 !important;
}

.googleLogin-btn button span {
  display: none;
}

.fbLogin-btn .kep-login-facebook {
  border-radius: 100% !important;
  width: 29px;
  height: 29px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fbLogin-btn .kep-login-facebook i {
  margin-right: 0;
}

.tncondition {
  color: #404891;
}

.close_form_btn {
  background-color: transparent;
  border: none;
}

.loginWith-signup {
  margin-top: 3rem;
}

.Tab_sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  /* margin: 10px 4% 15px !important; */
  /* background-color: #630035; */
}

.Tab_sidebar .MuiTabs-root {
  min-height: initial;
  width: 100%;
}

.Tab_sidebar .MuiTab-root {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 50px center;
  padding: 10px 26px;
  min-height: initial;
  position: relative;
  border-radius: 8px;
  z-index: 1;
  flex: 1;
  background: linear-gradient(90deg, #4473e9 0%, #7e43de 98.45%);
  border: 1px solid #6458e3 !important;
}

.Tab_sidebar .MuiTabs-indicator {
  border-radius: 8px;
  height: 100%;
  top: 0;
  background-color: var(--gray-400, #420c29);
  border-color: var(--gray-400);
}

.TabLogin_Signup {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 10px 14% 15px !important;
  border: 1px solid var(--gray-300);
  background: var(--gray-600);
  padding: 3px;
}

.TabLogin_Signup .MuiTabs-root {
  min-height: initial;
  width: 100%;
}

.TabLogin_Signup .MuiTab-root {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 50px center;
  padding: 11px clamp(20px, 2vw, 28px);
  min-height: initial;
  position: relative;
  z-index: 1;
  flex: 1;
  border-radius: 8px;
}

.TabLogin_Signup .MuiTab-root.Mui-selected {
  color: #fff;
}

.TabLogin_Signup .MuiTabs-indicator {
  border-radius: 8px;
  height: 100%;
  top: 0;
}

.side-referrals {
  margin-top: 3vh;
  border: 2px solid rgb(34, 131, 246);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 6px 13px;
}

.side-referrals-inactive {
  margin: 2vh;
  display: flex;
  align-items: flex-end;
}

.side-referrals-inactive-typo {
  padding-left: 8px;
  opacity: 0.5;
  font-size: 15px;
}

.refs-inactive-img {
  opacity: 0.5;
}

.side-referrals-buttons {
  margin-top: 2vh;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  padding: 6px 13px;
  background-color: #32395f;
}

.referrals-btn-text {
  color: #fff;
}

/* --- MODAL SIGN IN & SIGN UP --- */

/* ----------- Sidebar start ----- */
.sidebar.sidebarOpen {
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  left: 0;
  width: 220px;
}

.sidebar.sidebarOpen::-webkit-scrollbar {
  display: none;
}

.sidebarTab {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(78, 149, 255, 0) 0%, #5c2242 100%);
  border-radius: 22px;
  margin-bottom: 35px;
  padding: 4px 15px;
}

.sidebarTab .MuiTabs-root {
  min-height: initial;
}

.sidebarTab .MuiTab-root {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  color: #9bb4ff;
  background-image: url(../../public/assets/images/sidbarTab.png);
  background-repeat: no-repeat;
  background-position: 18px center;
  padding: 9px 18px 9px 48px;
  min-height: initial;
  position: relative;
  z-index: 1;
}

.sidebarTab .MuiTab-root.Mui-selected {
  color: #fff;
  background-image: url(../../public/assets/images/sidbarTab-active.png);
}

.sidebarTab .MuiTabs-indicator {
  background: #a2246b;
  border-radius: 22px;
  height: 100%;
  top: 0;
}

.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root.Mui-focusVisible {
  background-color: transparent !important;
}

.sidebar-menu {
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
}

.sidebar-menu li {
  background: var(--gray-600);
  padding: 0 clamp(10px, 1.2vw, 16px);
  border-radius: 8px;
}

.sidebar-menu li.active {
  background: linear-gradient(90deg, #7e43de 0%, #4473e9 98.45%);
}

.sidebar-menu li a,
.side-bar-para {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #bebebe;
  margin-bottom: 1px;
  padding: 10px 10px 10px 40px;
  background-repeat: no-repeat;
  background-position: 5px center;
  border: 1px solid transparent;
  border-radius: 5px;
  display: block;
  text-decoration: none;
}

/* .sidebar-menu li:first-child a {
  font-weight: 700;
} */

.sidebar-menu li a:hover,
.sidebar-menu li a.active,
.promotion.active,
.side-bar-para:hover,
.side-bar-para.active {
  color: #fff;
}

.sidebar-menu li a.dailyTask:hover,
.sidebar-menu li a.dailyTask.active {
  color: #8990ae;
  border: 1px solid transparent;
  cursor: default;
}

.sidebar-menu li a.home {
  background-image: url(../../public/assets/images/sidebarMenu-home.png);
  background-position: 7px center;
}

.sidebar-menu li a.home:hover,
.sidebar-menu li a.home.active {
  background-image: url(../../public/assets/images/sidebarMenu-home.png);
  background-repeat: no-repeat;
}

.sidebar-menu li a.promotion {
  background-image: url(../../public/assets/images/sidebarMenu-bag.png);
  background-position: 7px center;
}

.sidebar-menu li a.promotion:hover,
.sidebar-menu li a.promotion.active {
  background-image: url(../../public/assets/images/sidebarMenu-bag.png);
  background-repeat: no-repeat;
}

.sidebar-menu li a.games {
  background-image: url(../../public/assets/images/sidebarMenu-games.png);
}

.sidebar-menu li a.games:hover,
.sidebar-menu li a.games.active {
  background-image: url(../../public/assets/images/sidebarMenu-games.png);
}

.sidebar-menu li a.ranking {
  background-image: url(../../public/assets/images/sidebarMeu-medal.png);
}

.sidebar-menu li a.ranking:hover,
.sidebar-menu li a.ranking.active {
  background-image: url(../../public/assets/images/sidebarMeu-medal.png);
}

.sidebar-menu li a.referral {
  background-image: url(../../public/assets/images/referral.png);
}

.sidebar-menu li a.referral:hover,
.sidebar-menu li a.referral.active {
  background-image: url(../../public/assets/images/referral.png);
}

.sidebar-menu li p.affiliate {
  background-image: url(../../public/assets/images/sidebarMeu-setting.png);
}

.sidebar-menu li a.affiliate:hover,
.sidebar-menu li a.affiliate.active {
  background-image: url(../../public/assets/images/sidebarMeu-setting.png);
}

.sidebar-menu li a.liveSupport {
  background-image: url(../../public/assets/images/sidebarMeu-mic.png);
}

.sidebar-menu li a.liveSupport:hover,
.sidebar-menu li a.liveSupport.active {
  background-image: url(../../public/assets/images/sidebarMeu-mic.png);
}

.sidebar-menu li a.telegram {
  background-image: url(../../public/assets/images/sidebarMeu-telegam.png);
}

.sidebar-menu li a.telegram:hover,
.sidebar-menu li a.telegram.active {
  background-image: url(../../public/assets/images/sidebarMeu-telegam.png);
}

.sidebar-menu li a.dailyTask {
  background-image: url(../../public/assets/images/sidebarMenu-home.png);
}

/* .sidebar-menu li a.dailyTask:hover, .sidebar-menu li a.dailyTask.active {background-image: url(../../public/assets/images/sidebarMenu-dailyTask-h.png);} */

.sidebarBotm-link {
  margin: 25px 0 0;
  padding: 0;
  list-style: none;
}

.sidebarBotm-link li a {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 13px 10px;
  margin-bottom: 10px;
  text-decoration: none;
  background-color: #32395f;
  border-radius: 10px;
}

.sidebarBotm-link li:last-child a {
  margin-bottom: 0;
}

.sidebarBotm-link li a img {
  margin-right: 10px;
}

.sidebarBotm-link li a:hover {
  background-color: #2283f6;
}

/* ----------- Sidebar end ----- */

/*----- footer start -----*/

footer.sideBarOpen .colOne {
  margin-right: 12rem;
}

.colOne {
  margin-right: 17rem;
}

footer.sideBarOpen {
  margin-left: 305px;
  margin-left: 220px;
}

.fooCrypto {
  margin: 40px 0 0;
  padding: 30px 0;
  border-top: 1px solid #63738d;
  border-bottom: 1px solid #63738d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

.fooCrypto::-webkit-scrollbar {
  display: none;
}

.fooCrypto li {
  list-style: none;
  margin-left: 25px;
}

.fooCrypto li:first-child {
  margin-left: 0;
}

.fooCrypto li img {
  max-width: initial;
}

.fooSponsor {
  margin: 0;
  padding: 30px 0;
  border-bottom: 1px solid #63738d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

.fooSponsor::-webkit-scrollbar {
  display: none;
}

.fooSponsor li {
  list-style: none;
  margin-left: 30px;
}

.fooSponsor li:first-child {
  list-style: none;
  margin-left: 0;
}

.fooSponsor li img {
  max-width: 100%;
}

.copyRight {
  font-size: clamp(11px, 1vw, 14px);
  line-height: 17px;
  color: var(--gray-100);
  padding-block: 10px;
  border-top: 1px solid#4D4D4D;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/*----- footerRight ------*/
.footerRight {
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  right: 12px;
  bottom: 120px;
  z-index: 1;
}

.footerRight a {
  text-decoration: none;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}

.footerRight a.download {
  background-color: #dd244a;
}

.footerRight a.chat {
  background-color: #2b82eb;
  margin-left: auto;
}

#chat-widget-container #chat-widget-minimized {
  display: none !important;
}

.homePage #chat-widget-container #chat-widget-minimized {
  display: block !important;
}

#chat-widget-container {
  z-index: 999 !important;
  right: 4px !important;
}

.homePage #chat-widget-container #chat-widget-minimized {
  position: fixed;
  z-index: 100;
  right: 4px;
  bottom: 40px;
  width: 80px !important;
  height: 80px !important;
}

.homePage #chat-widget-container #chat-widget {
  z-index: 200;
}

#chatCon .chat-box {
  width: 300px;
  height: 475px;
  border-radius: 7px;
  background-color: #1e223d;
  position: absolute;
  bottom: 70px;
  right: 0;
  border: 1px solid #181a37;
}

#chatCon .chat-box .chat-header {
  background-color: var(--gray-600);
  padding: 15px;
  border-radius: 5px 7px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  border-radius: 7px 7px 0 0;
  line-height: 15px;
  position: relative;
}

#chatCon .chat-box .chat-header .chat-close {
  position: absolute;
  right: 7px;
  top: 10px;
  cursor: pointer;
}

#chatCon .chat-box .chat-header .chat-close svg {
  font-size: 22px;
}

#chatCon .chat-box .chat-header .chat-close svg:hover {
  color: #ff0000;
}

#chatCon .chat-box .msg-area {
  overflow: hidden;
  height: 370px;
  padding: 10px 10px 0;
  overflow-y: auto;
}

#chatCon .chat-box .msg-area p {
  margin-bottom: 7px;
}

#chatCon .chat-box .msg-area .left span {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 8px;
  background-color: #242949;
  color: #fff;
  font-size: 14px;
}

#chatCon .chat-box .msg-area .right {
  text-align: right;
}

#chatCon .chat-box .msg-area .right span {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 8px;
  background-color: #242949;
  color: #fff;
  font-size: 14px;
}

#chatCon .chat-box .chat-footer {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: var(--gray-600);
  width: calc(100% - 20px);
  margin: 10px auto 0;
  border-radius: 7px;
}

#chatCon .chat-box .chat-footer input {
  padding: 10px 0;
  width: 80%;
  border-radius: 15px;
  flex: 1;
  margin-right: 7px;
  background-color: transparent;
  border: 0;
  color: #bacbea;
}

#chatCon .chat-box .chat-footer input:focus-visible {
  outline: none;
  border: 0;
  box-shadow: none;
}

#chatCon .chat-box .chat-footer button {
  border: none;
  font-size: 22.5px;
  color: #272c4b;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

#chatCon .chat-box .chat-footer button svg {
  color: #fff;
}

#chatCon .chat-box .chat-footer button:focus-visible {
  outline: none;
  border: 0;
  box-shadow: none;
}

/*----- footer end -----*/

/*---------- Wallet Modal CSS ---------- */

.cashBack-slider {
  margin-top: 8px;
}

.doNot_div {
  border-radius: 10px;
}

.doNotText {
  color: #b5b5b5;
  font-weight: 600;
}

.depositBtn {
  display: flex;
  justify-content: center;
}

.rdrDayDisabled {
  background-color: #10133d;
}

.modal-btn-CPF {
  width: 215px;
  padding: 11px 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.modal-btn-CPF-disabled {
  width: 215px;
  padding: 11px 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: not-allowed;
}

.modal-btn-CPF:hover {
  background-color: #63a1ff;
}

.withdraw_vip {
  display: flex;
  justify-content: space-between;
}

.modal-btn-withdraw {
  width: 60%;
  padding: 11px 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.bottom-record-div {
  height: 60px;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -25px -20px;
}

.recordTxt {
  color: blue;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.recordBox {
  padding: 6px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}

.fillInThe {
  display: flex;
  margin-top: 10px;
  background-color: var(--gray-700, #420c29);
  border-radius: 8px;
}

.fillInThe .MuiOutlinedInput-root {
  display: flex;
}

.fillInThe .MuiOutlinedInput-root .MuiInputAdornment-root {
  max-width: 60px;
}

.fillInThe .MuiOutlinedInput-root input {
  flex: 1;
  color: #fff;
  /* text-align: right; */
}

.fillInThe .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: 0;
}

/*---------- Promotio Secondn Modal  ----------*/

.promoModal-slider .slick-slide {
  padding: 0 10px;
}

.promoModal-slider .slick-slide img {
  width: 100%;
  max-width: 100%;
}

.slick-dots li {
  width: initial;
  height: initial;
  margin: 0 3px;
}

.slick-dots li button {
  background-color: #8990ae;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.promoModal-slider .slick-dots li button:before {
  display: none;
}

.promoModal-slider .slick-dots li.slick-active button {
  width: 32px;
  border-radius: 10px;
  background-color: #fff;
}

/*---------- SignUp Modal CSS ----------*/
.react-datepicker__header {
  background: var(--gray-600, #6e274ef2) !important;
  border: none !important;
  color: #fff !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #fff !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #fff !important;
}

.react-datepicker__month {
  background: var(--gray-300, #753257eb);
  margin: 0 !important;
  padding: 0.4rem !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background: var(--gray-500, #580935) !important;
}

.MuiList-root.MuiList-padding.MuiMenu-list,
.MuiList-root.MuiList-padding.MuiMenu-list li:hover {
  color: #fffc;
  background: var(--gray-600, #580935) !important;
}

.MuiList-root.MuiList-padding.MuiMenu-list li {
  background: var(--gray-400, #7a2755) !important;
}

.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background: var(--gray-500, #580935) !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover {
  background: var(--gray-600, #580935) !important;
}

.MuiPaginationItem-root {
  color: #fff;
  font-weight: 800;
  border: 2px solid var(--gray-600, #a2246b);
  line-height: 2 !important;
  border-radius: 4px !important;
}

.white-input svg {
  color: #fff !important;
}

.Toastify__close-button--light {
  color: #fff !important;
  margin: 17px 3px !important;
}

.withdraw-second .withdrawBack {
  color: #fff;
}

.withdraw-second .withdrawBack:hover {
  color: #d73a50;
}

.MuiBox-root input {
  padding-inline: 10px;
}

.Slider-vip-rank {
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
}

.MuiTooltip-arrow {
  margin-top: -1.71em;
  width: 30px;
  height: 20px;
  color: transparent;
}

.MuiTooltip-arrow:before {
  border: 1px solid #ddd;
}

.coin-margin {
  margin-right: 3px;
}

/*---------- Referal page start ----------*/

/* To Invite tab */

.invitation-bonus {
  margin-top: 30px;
}

/* Forms tab */

.fairness_heading {
  background: linear-gradient(90.46deg, #3f8bff 0.19%, #5effd8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
}

.Fairness-Head p {
  width: 50%;
  text-align: center;
}

.Fairness-Head .fair-para {
  font-weight: 500;
  font-size: 16px;
  color: #bacbea;
}

.digit .digit-headPara-fairness {
  color: #fff494;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}

.Boxes-columnFairness {
  display: flex;
}

.second-fairnessBox {
  background: #1d204a;
  border: 2.5px solid #60fcff;
  border-radius: 15px;
  width: 100%;
  height: 32vh;
}

.second-fairnessBox .second-head {
  text-align: center;
  color: #fff494;
  font-weight: 700;
  font-size: 14px;
}

.second-fairnessBox .para_2 {
  text-align: center;
  color: #abb7e2;
  font-weight: 600;
  font-size: 8px;
}

.second-fairnessBox .invite-copy .formgroup .MuiInputBase-root {
  color: #abb7e2;
  font-size: 10px;
  background-color: #1a2150;
  padding: 0px 0px 0px 12px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #fff;
}

.second-fairnessBox
  .invite-copy
  .formgroup
  .MuiInputBase-root
  .MuiButtonBase-root:hover {
  background-color: #dd566e;
}

.second-fairnessBox
  .invite-copy
  .formgroup
  .MuiInputBase-root
  .MuiButtonBase-root {
  background: #3586ff;
  border-radius: 0px 10px 10px 0px;
  width: 29px;
  padding: 6px 10px 6px;
  min-width: initial;
}

.second-fairnessBox-middle {
  background: #1d204a;
  border: 2.5px solid #ffc554;
  border-radius: 15px;
  width: 100%;
}

.third-fairnessBox {
  background: #1d204a;
  border: 2.5px solid #4792ff;
  border-radius: 15px;
  width: 100%;
}

.third-fairnessBox .invite-copy .formgroup .MuiInputBase-root {
  color: #abb7e2;
  font-size: 10px;
  padding: 0px 0px 0px 12px;
  background-color: #1a2150;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #fff;
}

.third-fairnessBox
  .invite-copy
  .formgroup
  .MuiInputBase-root
  .MuiButtonBase-root:hover {
  background-color: #dd566e;
}

.third-fairnessBox
  .invite-copy
  .formgroup
  .MuiInputBase-root
  .MuiButtonBase-root {
  background: #3586ff;
  border-radius: 0px 10px 10px 0px;
  width: 29px;
  padding: 6px 10px;
  min-width: initial;
}

.second_box_fairness {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.second_box_fairness p {
  font-weight: 700;
  font-size: 14px;
}

.text-99 {
  font-weight: 700;
  font-size: 64px;
}

.text-99-btn {
  background: #4792ff;
  border-radius: 10px;
  padding: 16px;
  color: #fff;
  font-weight: 700;
  border: 0;
  width: 100%;
}

.text-playBtn {
  background: #4792ff;
  border-radius: 10px;
  padding: 16px;
  color: #fff;
  font-weight: 700;
  border: 0;
  width: 30%;
}

.fairness-para-accod {
  color: #8790af;
  padding: 10px 18px;
  font-size: 14px;
}

.fainess-acc-Container .fooLink-mobile .MuiAccordionSummary-root .title {
  color: #90a3c7;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

/*------------- Personal Center Page CSS ---------------- */
.personal-center-info {
  border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(
    158.06deg,
    var(--gray-800, #4c184e) 0.09%,
    var(--gray-800, #871990) 85.68%
  );
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.personal-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainUserPI {
  width: 100%;
  display: flex;
  justify-content: center;
}

.MainUserPI img {
  max-width: 100%;
}

.userButtonCopy {
  width: 142px;
  height: 36px;
  background: var(--gray-600, #a2246b);
  border-radius: 5px;
  border: 1px solid var(--gray-600, #a2246b);
  color: #fff;
  font-size: 14px;
  font-weight: 800;
}

.icon-userInfo {
  padding: 8px;
  border-radius: 20px;
  background: var(--gray-600, #420c29);
  cursor: pointer;
}

.MainUserLogo {
  border-radius: 190px;
  background: linear-gradient(180deg, #3a7bf0 0%, #224a93 100%);
  cursor: pointer;
  /* width: 20%; */
  margin: 0 10px 10px 5px;
}

.walletWithdraw {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gray-600, #420c29);
  padding: 8px 0px;
  width: 100%;
  border-radius: 10px;
}

.walletRupee {
  font-weight: 500;
  font-size: 26px;
  color: #fff;
  text-align: center;
  color: #ffc635;
}

.amount-redeemed {
  font-size: 12px;
  font-weight: 700;
  padding: 0 10px;
  text-align: center;
  color: #fff;
}

.amount-redeemed button {
  min-width: initial;
  margin-left: 7px;
  padding: 0;
}

.redeemedRupee input {
  font-style: italic;
  font-weight: 800;
  font-size: 18px;
  color: #43516c;
  text-align: center;
  padding: 0;
}

.redeemedRupee input::placeholder {
  color: #43516c;
  opacity: 1;
}

.redeemedRupee input:-ms-input-placeholder {
  color: #43516c;
}

.redeemedRupee input::-ms-input-placeholder {
  color: #43516c;
}

.hpMenu-top-vip-perCenter {
  padding: 5px 8px 0;
  border-radius: 10px;
}

.walletBtnContainer {
  display: flex;
  justify-content: space-between;
}

.walletBtnContainer .walletBtn,
.walletBtnContainer .walletBtnWithdraw {
  width: 48%;
  height: 40px;
  background: linear-gradient(
    158.06deg,
    var(--gray-800, #4c184e) 0.09%,
    var(--gray-800, #871990) 85.68%
  );
  background: linear-gradient(90deg, #4473e9 0%, #7e43de 98.45%);
  border: 1px solid #6458e3 !important;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.walletBtnContainer .walletBtnWithdraw {
  background: transparent;
  border: 1px solid #6458e3 !important;
}

.userimgName {
  background: linear-gradient(
    158.06deg,
    var(--gray-800, #4c184e) 0.09%,
    var(--gray-800, #871990) 85.68%
  );
  border-radius: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
}

.userimgName .MainUserLogo {
  margin: 0 10px 0 0;
  width: 68px;
}

.userDisplayPC .MainUserLogo.normalActive {
  border: 5px solid #fff;
}

.User_Personal {
  display: flex;
  align-items: center;
  flex: 1;
}

.User_Personal .userPC_text {
  border-radius: 20px;
  background: transparent;
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 18px;
  outline: none;
  width: 100%;
  border: 3px solid #fff;
  padding: 10px 12px;
  flex: 100%;
}

.User_Personal .userPC_text:disabled {
  border: 1px solid transparent;
}

.User_Personal .edit-btn {
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.personal-user .PersonallevelsPoint {
  position: absolute;
  transform: translate(122%, 0px);
  z-index: 1;
  color: #1e5d80;
  font-weight: 900;
  font-size: 20px;
  line-height: normal;
  margin-top: -45px;
}

/* ----------- Wallet History Page Css -------- */
.walletHistoryPage-tab .MuiTabs-root {
  min-height: initial;
  width: 720px;
  max-width: 100%;
  margin: 30px auto 30px;
  justify-content: center;
  background: var(--gray-600, #31001b);
  border-radius: 10px;
}

.walletHistoryPage-tab .MuiTabs-root .MuiButtonBase-root {
  background-repeat: no-repeat;
  background-size: 20px;
  flex: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #b5b5b5;
  padding: 20px 10px;
  min-height: initial;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}

.walletHistoryPage-tab .MuiTabs-root .MuiButtonBase-root.Mui-selected {
  color: #fff;
}

.walletHistoryPage-tab .MuiTabs-root .MuiTabs-indicator {
  height: 100%;
  width: 100%;
  background-color: var(--gray-500, #a2246b);
  border-radius: 10px;
}

.walletHistoryPage-tab .MuiTabPanel-root {
  padding: 0;
}

/*--------- DepositTab css ------- */
.DepositTab {
  background: linear-gradient(119.77deg, #272c56 2.99%, #444ac7 100%);
  border-radius: 10px;
  padding: 25px 50px 25px;
}

/* DepositTab css ------- */
.DepositTab {
  background: linear-gradient(
    119.77deg,
    var(--gray-800, #420c29) 2.99%,
    var(--gray-800, #420c29) 100%
  );
  border-radius: 10px;
  padding: 25px 12px 25px;
}

/* -------------- Notification Sidebar css ------ */

/*---------- Promotion first page start ----------*/

.millions-distributor {
  margin-top: 35px;
}

.promo-activeUser {
  margin-top: 50px;
}

.promo-activeUser .promoActiveUser-titleText {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  max-width: 700px;
  margin: 0 auto 75px;
}

.promo-activeUser .promoActiveUser-titleText span {
  color: #fff96a;
  margin: 0 7px;
}

.withdraw-first #mui-component-select-currency,
.withdraw-first svg {
  color: #fff !important;
}

main.sideBarOpen iframe {
  height: calc(100dvh - 77px);
}

.react-datepicker__header,
.react-datepicker__day--selected:hover,
.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: var(--gray-600, #5c2242) !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header,
.react-datepicker__day-name {
  color: #fff !important;
}

/* Deposit Center pagination Button --------------- */
.paginationButton {
  background: #1f224a;
  color: #fff;
  border: #1f224a;
  padding: 8px 14px;
}

.paginationButton2 {
  background: #3586ff;
  color: #fff;
  border: #3586ff;
  padding: 8px 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  border-radius: 10px;
}

.LoadingText {
  color: #dd234b;
  font-weight: 700;
  font-size: x-large;
}

.promotion {
  border: 1px solid #a2246b;
  background: linear-gradient(90deg, #a2246b 0%, #a2246b 100%);
}

.activity-requirements {
  text-align: center;
  margin-bottom: 50px;
}

.activity-requirements .activityRequirements-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 17px;
}

.activity-requirements .activityRequirements-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #b5b5b5;
  max-width: 600px;
  margin: 0 auto;
}

/* Deposit Pesronal Center --------- */
.deposit_PC input[type='search']:focus {
  box-shadow: 0 0 3px 0 #fff;
  border-color: #fff;
  outline: none;
}

.deposit_PC input {
  width: 100%;
  padding: 20px;
  margin: 4px;
  box-sizing: border-box;
  padding-left: 60px;
  border-radius: 10px;
  background: #1f224a;
  color: #a0abdb;
  border: #1f224a;
  font-weight: 700;
}

.deposit_PC .Icon-inside {
  position: relative;
}

.deposit_PC .Icon-inside img {
  position: absolute;
  left: 5px;
  top: 4px;
  padding: 10px 10px;
  color: #30a3f1;
  width: 50px;
}

.userDisplayPC {
  background: linear-gradient(
    158.06deg,
    var(--gray-800, #4c184e) 0.09%,
    var(--gray-800, #871990) 85.68%
  );
  border-radius: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
}

.userDisplayButton {
  display: flex;
  justify-content: center;
}

.userLeaveButton {
  padding: 12px 36px;
  background: linear-gradient(
    158.06deg,
    var(--gray-800, #4c184e) 0.09%,
    var(--gray-800, #871990) 85.68%
  );
  border: linear-gradient(
    158.06deg,
    var(--gray-800, #4c184e) 0.09%,
    var(--gray-800, #871990) 85.68%
  );
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  font-size: 16px;
}

.userSaveButton {
  padding: 12px 36px;
  background: linear-gradient(
    158.06deg,
    var(--gray-800, #4c184e) 0.09%,
    var(--gray-800, #871990) 85.68%
  );
  border: linear-gradient(
    158.06deg,
    var(--gray-800, #4c184e) 0.09%,
    var(--gray-800, #871990) 85.68%
  );
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  font-size: 16px;
}

.rdrDefinedRangesWrapper {
  background-color: #10133d;
  border-radius: 8px 0 0 8px;
  border-right: solid 1px #10133d;
  width: 120px;
}

.rdrDefinedRangesWrapper .rdrStaticRange {
  background-color: #10133d;
  color: #a0abdb;
  border-bottom: 1px solid #10133d;
  border-radius: 8px 0 0 0;
}

.rdrDefinedRangesWrapper .rdrStaticRange:hover .rdrStaticRangeLabel,
.rdrDefinedRangesWrapper .rdrStaticRange:focus .rdrStaticRangeLabel {
  background-color: #3d91ff;
  color: #fff;
}

.rdrDefinedRangesWrapper .rdrInputRanges {
  display: none;
}

.rdrCalendarWrapper {
  background-color: #10133d;
  border-radius: 0 8px 8px 0;
}

.rdrCalendarWrapper .rdrDateDisplayWrapper {
  display: none;
}

.rdrMonthAndYearWrapper .rdrNextPrevButton {
  background-color: #3d91ff;
}

.rdrMonthAndYearPickers .rdrMonthPicker,
.rdrMonthAndYearPickers .rdrYearPicker {
  background-color: #3d91ff;
  border-radius: 5px;
}

.rdrMonthAndYearPickers select {
  color: #fff;
}

.rdrMonthAndYearPickers select option {
  background-color: #3d91ff;
  color: #fff;
}

.rdrDay .rdrDayNumber span {
  color: #a0abdb;
}

.rdrDay.rdrDayPassive {
  opacity: 0;
}

/* Sidebar Message Notification css */
.notifi_content {
  display: flex;
  padding: 10px;
  background: var(--gray-600);
  align-items: center;
}

/*---------- Terms & Condition and Privacy policy  -----------*/

.loginSignUp-btn .css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 11px 14px 9.5px 0px;
}

/*--------- Google Translate Code ------ */
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  z-index: 9724790009779 !important;
  top: 0;
  left: unset;
  right: -5px;
  display: none !important;
  border-radius: 50%;
  border: 2px solid gold;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO {
  width: 80px;
  height: 80px;
}

/*hide google translate link | logo | banner-frame */
.goog-logo-link,
.gskiptranslate,
.goog-te-gadget span,
.goog-te-banner-frame,
#goog-gt-tt,
.goog-te-balloon-frame,
div#goog-gt- {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  font-size: 0px;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

/*google translate Dropdown */
#google_translate_element select {
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
}

#google_translate_element select.goog-te-combo:first-child {
  display: none;
}

#google_translate_element {
  margin-left: auto;
  margin-right: 12px;
  position: relative;
  margin-top: 25px;
}

/* ErrorPage */
.ErrorDivision {
  color: rgb(173, 176, 215);
  display: flex;
  font-size: 20px;
  font-weight: 700;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: center;
  padding: 10px;
}

/* Fruit-Ninja Game CSS Start ========== */
.homeBanner-content .bannerHeading img {
  margin-top: 4px;
}

.fooLink-mobile .side-bar-para {
  cursor: pointer;
  text-decoration: none;
  font-size: 13px !important;
  line-height: 15px;
  color: #abbdd9;
  padding: 0;
  font-weight: 600;
}

.f-16 {
  font-size: clamp(14px, 1.5vw, 16px);
}

.f-15 {
  font-size: clamp(12px, 1.2vw, 15px);
}

.g_section_sub:focus-visible {
  outline: none !important;
}

.spin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.title {
  color: #333;
  margin-bottom: 20px;
  color: white;
}

.spin-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.spin-button:hover {
  background-color: #0056b3;
}

.spin-button:focus {
  outline: none;
}

.text-center {
  margin-top: 20px;
}

.In_house {
  display: flex;
  margin: 50px;
  justify-content: center;
}

.In_house h3 {
  font-weight: 600;
}

/* --------- Swiper CSS STARTS ---------- */

.horizontal-lines {
  display: flex;
  align-items: center;
  margin: 22px 0px;
}

.horizontal-lines .line {
  flex: 1;
  height: 1px;
  background-color: var(--gray-100);
}

.horizontal-lines .text {
  padding: 0 10px;
  color: #b5b5b5;
  font-size: 26px;
}

.custom-input input::placeholder {
  color: #fff;
}

/* ---- home slider css dots --- */
.homeBanner-slider .vip-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  width: 24px;
  color: white;
}

.homeBanner-slider .vip-slider .slick-dots li {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100px;
  transition: width 0.3s linear;
  background-color: rgba(255, 255, 255, 0.6);
}

.homeBanner-slider .vip-slider .slick-dots li.slick-active {
  width: 1.75rem;
  background-color: #ffffff;
}

.homeBanner-slider .vip-slider .slick-dots li button:before {
  font-family: 'slick';
  display: none;
  line-height: 0px;
  position: absolute;
  top: 6px;
  left: 0;
  width: 0.625rem;
  height: 0.625rem;
  content: '';
  text-align: center;
  font-size: 44px;
  opacity: 0.5;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 15px;
  background-color: white;
}

.search-btn {
  margin-right: 12px;
}

._28Wol {
  background-color: initial !important;
  background-image: url(../../public/assets/images/wheel-border2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 440px 440px;
  background-position: 5px 3px;
}

span._35l6Q {
  background-image: url(../../public/assets/images/wheel-arrow.png);
  background-size: contain;
  width: 30px;
  height: 46px;
  background-repeat: no-repeat;
  top: 1px;
  filter: drop-shadow(0px 3px 1px #000000);
  -webkit-filter: drop-shadow(0px 3px 1px #000000);
}

img.wheel-center {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 1;
  max-width: 70px;
  max-height: 70px;
  filter: drop-shadow(0px 2px 1px #000000);
  -webkit-filter: drop-shadow(0px 2px 1px #000000);
}

span._35l6Q svg {
  width: 0 !important;
}

img.wheel-stand {
  max-height: 140px;
  width: fit-content;
  margin: auto;
  display: block;
  margin-top: -80px;
}

img.wheel-border {
  position: absolute;
  inset: -229px 0 0 0;
  margin: auto;
  width: 400px;
  height: 400px;
  z-index: 1;
}

.container {
  max-width: min(95%, 1920px) !important;
}

.sidebar-menu li a,
.side-bar-para {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: white;
  margin-bottom: 16px;
  padding: 12px 12px 12px 40px;
  background-repeat: no-repeat;
  background-position: 5px center;
  border: 1px solid transparent;
  border-radius: 0;
  display: block;
  text-decoration: none;
  /* border-bottom: 1px solid #474747; */
}

.side-bar-para {
  cursor: pointer;
  line-height: 15px;
  margin-bottom: 16px;
  padding: 12px 10px 12px 6px;
  /* padding: 5px 20px 5px 6px; */
  border: none;
}

.side-bar-para svg {
  margin-right: 9px;
}

/* .sidebar-menu li a.active, .promotion.active {
  color: #fff;
  border: 1px solid #ffffff54;
} */
.promotion {
  border-bottom: 1px solid #474747;
}

.side-bar-para svg {
  margin-right: 6px;
}

.bg-gray-400 {
  background-color: var(--gray-400);
}

.modal-btn-CPF-disabled,
.modal-btn-withdraw,
.modal-btn-CPF,
.balance-deposit .deposit-btn,
.hpMenu-botm .profile-logout,
.cashback_buttonBonus2,
.TabLogin_Signup .MuiTabs-indicator,
.referalPage-tab .MuiTabs-root .MuiTabs-indicator,
.bonus-date .search-btn,
.userButtonCopy {
  background: linear-gradient(90deg, #4473e9 0%, #7e43de 98.45%);
  border: 1px solid #6458e3 !important;
  border-radius: 8px;
}

.TabLogin_Signup,
.referalPage-tab .MuiTabs-root,
.walletHistoryPage-tab .MuiTabs-root {
  border: 1px solid var(--gray-300);
  background: var(--gray-600);
  padding: 3px;
}

.walletHistoryPage-tab .MuiTabs-root .MuiTabs-indicator {
  background: linear-gradient(90deg, #4473e9 0%, #7e43de 98.45%);
  border: 1px solid #6458e3 !important;
  border-radius: 8px;
}

.divOne .loginSignUp-btn {
  margin-top: 7px;
  margin-bottom: 22px;
}

/*===================================================================
                  Responsive start 
 ====================================================================*/

@media screen and (min-width: 576px) {
  #walletModal .modal-dialog {
    max-width: 415px;
  }

  .Footer_buttonSticky {
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .cashback_buttonBonus2 {
    display: block;
  }
}

@media screen and (max-width: 1399.98px) {
  /* / footer / */
  .sideBarOpen .foo-linkSocial fooLink-desktop {
    margin-right: 3%;
  }

  /* referral-page */

  main.sideBarOpen {
    margin-left: 255px;
  }

  footer.sideBarOpen {
    margin-left: 280px;
  }
}

@media screen and (max-width: 1299px) {
  .modal_form_signIn input {
    padding-block: 16.5px !important;
    padding-inline: 5px;
  }

  .horizontal-lines {
    margin: clamp(14px, 1vw, 16px) 0;
  }

  .horizontal-lines .text {
    font-size: clamp(16px, 1.8vw, 20px);
  }

  .horizontal-lines .line {
    height: 2px;
  }
}

@media only screen and (max-width: 1199.99px) and (min-width: 991.98px) {
  /* referral-page with sidebar open*/
  .sideBarOpen .referalPage-tab .MuiTabs-root .MuiButtonBase-root.toInvite {
    background-position: 50px center;
  }

  .sideBarOpen .referalPage-tab .MuiTabs-root .MuiButtonBase-root.forms {
    background-position: 58px center;
  }

  .sideBarOpen .referalPage-tab .MuiTabs-root .MuiButtonBase-root.statistics {
    background-position: 46px center;
  }

  .sideBarOpen .partner-revenue {
    flex-direction: column;
  }

  .sideBarOpen .partner-revenue .partner {
    width: 100%;
    margin-bottom: 20px;
  }

  .sideBarOpen .partner-revenue .revenue {
    width: 100%;
    margin-left: 0;
  }

  .sideBarOpen .awardsIssued-row {
    flex-direction: column;
  }

  .sideBarOpen .awardsIssued-row .awardsIssued-col {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .sideBarOpen .invitation-bonus {
    margin-top: 20px;
  }

  .sideBarOpen .invitation-bonus .invitationBonus-col .invitationBonus-img {
    margin-right: 0;
  }

  .sideBarOpen .invitation-bonus .invitationBonus-col .invitationBonus-img img {
    max-width: 275px;
  }

  .sideBarOpen .invitation-bonus .invitationBonus-col .invitationBonus-content {
    padding: 15px 15px 5px;
  }

  .sideBarOpen .achievement-bonus {
    padding: 30px;
  }

  .sideBarOpen .getCommission-col .getCommission-colTop {
    flex-direction: column;
  }

  .sideBarOpen
    .getCommission-col
    .getCommission-colTop
    .getCommission-colTop-img {
    text-align: center;
  }

  .sideBarOpen .leaderboard-prize {
    flex-direction: column;
  }

  .sideBarOpen .leaderboard-prize .leaderboardPrize-col {
    margin-left: 0;
    margin-top: 15px;
  }

  .sideBarOpen .leaderboard-prize .leaderboardPrize-col:first-child {
    margin-top: 0;
  }

  .sideBarOpen .leaderboard-prize .leaderboardPrize-col .leader-row {
    margin-bottom: 35px;
  }

  .sideBarOpen .referal-bloger .referalBloger-img {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sideBarOpen .referal-bloger .referalBloger-img img {
    max-width: 230px;
  }
}

@media screen and (max-width: 1199.98px) {
  /* / footer / */
  .sideBarOpen .foo-linkSocial {
    flex-direction: column;
  }

  .sideBarOpen .foo-linkSocial fooLink-desktop {
    margin-right: 0;
  }

  .sideBarOpen .fooSocial {
    margin-top: 20px;
  }

  .sideBarOpen .fooSocial .fooText {
    max-width: 100%;
  }

  .fooSponsor li img {
    max-width: initial;
  }
}

@media screen and (max-width: 991.98px) {
  /* / sidebar / */
  main.sideBarOpen {
    margin-left: 0;
    /* background: var(--gray-400, #31001b); */
  }

  footer.sideBarOpen {
    margin-left: 0;
    /* background: #420c29; */
  }
  /* home page */

  .homeTabPromotion-content {
    margin: 0 -9px;
  }

  /* login signup modal */
  .loginWith-signin {
    margin-top: 80px;
  }
  /* Promotion Modal */
  .promotionSecondModal .MuiDialog-paper {
    padding: 30px;
  }

  .promoModal-slider .slick-slide {
    padding: 0 7px;
  }

  /* referral-page */

  /* promotions */

  .promo-activeUser {
    margin-top: 40px;
  }
  .promo-activeUser .promoActiveUser-titleText {
    margin: 0 auto 55px;
  }
  .profit-graph-section {
    flex-direction: column;
    gap: 15px;
  }

  .profit-graph-section .partner {
    width: 100% !important;
  }

  .profit-graph-section .revenue {
    width: 100%;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 820px) {
  .BannerBigHomeSlider {
    height: 173px;
    object-fit: fill;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .spin-button {
    width: 100%;
    font-size: 14px;
  }

  .title {
    font-size: 24px;
  }

  .fooLink-mobile .MuiAccordionSummary-root .title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .referalPage-tab .MuiTabs-root .MuiButtonBase-root.statistics {
    background-position: 15px center;
  }

  .translate-dropdown {
    margin-right: 7px;
  }

  .translate-dropdown .btn {
    padding: 6px 10px;
  }

  .translate-dropdown .btn svg {
    font-size: 20px;
  }

  .homePage #chat-widget-container #chat-widget-minimized {
    bottom: 55px;
    width: 70px !important;
    height: 76px !important;
    right: 15px;
  }

  /* home page */

  .homeBanner-slider ul.slick-dots {
    top: 75% !important;
    bottom: inherit !important;
  }
  .homeTabPromotion-content {
    margin: 0 -5px;
  }

  /* sidebar */

  main {
    margin-left: 0;
  }

  .closeBTN {
    top: 0;
    right: 0;
    z-index: 10;
  }

  /* login signup modal */
  .loginWith-signin {
    margin-top: 40px;
  }

  .loginWith-signup {
    margin-top: 20px;
  }

  .css-fwerej {
    margin-top: 0;
  }

  /* Promotion Modal */
  .promotionSecondModal .MuiDialog-paper {
    padding: 50px 20px 20px 20px;
  }

  /* Vip Slider TOp Badge Image */

  /* referral-page */
  .bonus-date {
    flex-flow: wrap;
  }

  .bonus-date .MuiFormControl-root.showRecord {
    order: 2;
  }

  .bonus-date .MuiFormControl-root.invitationBonus {
    order: 3;
    margin-left: 20px;
    flex: auto;
  }

  .bonus-date .MuiFormControl-root.statistics-startEndDate {
    order: 1;
    flex: 100%;
    margin-bottom: 20px;
  }

  .bonus-date .search-btn {
    order: 4;
    flex: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .bonus-date .MuiFormControl-root {
    margin-left: 0;
  }

  /* Deposit Pesronal Center */

  /* promotions */

  .promo-activeUser .promoActiveUser-titleText {
    margin: 0 auto 45px;
    font-size: 16px;
    line-height: 21px;
  }

  .promo-activeUser .promoActiveUser-titleText br {
    display: none;
  }

  .hpMenu-top-vip .user-levelScore .userScore {
    margin-left: 0;
  }
}

@media screen and (max-width: 575.98px) {
  .TabLogin_Signup {
    margin: 10px 15px !important;
  }

  .BannerBigHomeSlider {
    height: 135px;
    object-fit: fill;
  }

  .homeBanner-slider .vip-slider .slick-dots li button:before {
    top: 0px !important;
    width: 22px !important;
    height: 8px !important;
  }

  .homeTabPromotion-content .homeTabPromotionContent-col {
    width: 47.6%;
  }

  /* home page top banner*/
  .homeBanner-content .bannerHeading {
    font-size: 14px !important;
  }

  .homeBanner-content .bannerHeading {
    font-size: 16px;
  }

  .homeBanner-content .bannerHeading img {
    width: 16px;
    height: 16px;
    margin-top: 1px;
  }

  .homeBanner-content .bannerSubHeading {
    font-size: 13px;
    margin-top: 0 !important;
  }

  .fooSocial .fooText {
    text-align: center;
  }

  /* Promotion Modal */

  /* Footer Sticky button ===== */
  .Footer_buttonSticky {
    display: flex;
    justify-content: center;
  }

  .btton_installing {
    background: #008bff;
    border-radius: 10px;
    padding: 8px 32px;
    color: #fff;
    font-weight: 600;
    border: 1px solid #008bff;
    position: fixed;
    bottom: 88px;
    z-index: 100;
  }

  /* referral-page */

  /* .partner-revenue .revenue-row .revenue-col label {
    font-size: 11px;
    line-height: 12px;
  } */

  .invitation-bonus .invitationBonus-col .invitationBonus-content .title {
    font-size: 20px;
    line-height: 24px;
  }

  .invitation-bonus .invitationBonus-col .invitationBonus-content p {
    font-size: 16px;
    line-height: 20px;
  }

  .referalPageSection-title .MuiSvgIcon-root {
    font-size: 20px;
  }

  /* Deposit Pesronal Center */
  .rdrDateRangePickerWrapper {
    flex-direction: column;
  }

  .rdrCalendarWrapper {
    border-radius: 0 0 8px 8px;
  }

  .rdrDefinedRangesWrapper {
    border-radius: 8px 8px 0 0;
    width: 100%;
  }

  .rdrDefinedRangesWrapper .rdrStaticRange:first-child {
    border-radius: 8px 0 0 0;
  }

  .rdrDefinedRangesWrapper .rdrStaticRange:last-child {
    border-radius: 0 8px 0 0;
  }

  .rdrStaticRangeLabel {
    padding: 10px 15px;
    line-height: 14px;
  }

  .rdrWeekDay {
    font-size: 0.94em;
  }

  .bonus-date .MuiFormControl-root.invitationBonus {
    margin-left: 6px;
    width: 213px;
  }

  .apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
    right: 25px !important;
  }

  .base-Popper-root.css-advny6-MuiPopper-root {
    transform: translate3d(-260px, 33px, 0px) !important;
  }

  @media (min-width: 401px) and (max-width: 575px) {
    .base-Popper-root.css-advny6-MuiPopper-root {
      inset: 0px auto auto 0px !important;
    }
  }

  .fullVipBonus-leval {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .promotion-banner img {
    height: auto !important;
  }

  .partner-revenue .revenue .yourProfit {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  ._28Wol {
    min-height: 320px !important;
    min-width: 320px !important;
    background-size: contain;
    background-position: center;
  }

  ._1E7u3 {
    width: 290px !important;
    height: 290px !important;
  }

  img.wheel-center {
    max-width: 50px;
    max-height: 50px;
  }

  span._35l6Q {
    width: 20px;
  }

  img.wheel-stand {
    max-height: 110px;
    margin-top: -65px;
  }

  .object-fit-fill {
    max-height: 140px;
    min-height: 140px;
  }

  .search-input input {
    padding-block: 12px !important;
  }
}

@media screen and (max-width: 480px) {
  .homeTabPromotion-content {
    margin: 0;
  }

  .homeTabPromotion-content .homeTabPromotionContent-col {
    width: 100%;
    margin: 0 0 12px;
  }

  .homeTabPromotion-content .homeTabPromotionContent-col .promotion-img img {
    width: 100%;
  }

  /* fix Pix button */

  .deposit-bottomTxt {
    display: flex;
    flex-direction: column;
  }

  /* Safari Modal */
  .safariModal {
    width: 320px !important;
  }
}

.search-input {
  display: flex;
  justify-content: end;
}

@media (max-width: 527px) {
  .search-input .css-u9pgfk-MuiInputBase-root-MuiOutlinedInput-root {
    display: none;
  }
}

.search-input .css-u9pgfk-MuiInputBase-root-MuiOutlinedInput-root {
  width: 177px !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.games.active,
.home.active,
.poker.active,
.promotions.active,
.ranking.active {
  background: linear-gradient(90deg, #4473e9 0%, #7e43de 98.45%);
  border-radius: 10px;
}

.fs-28 {
  font-size: clamp(14px, 5px + 1vw, 28px) !important;
}

.fs-32 {
  font-size: clamp(16px, 7px + 1.1vw, 32px) !important;
}

.fs-40 {
  font-size: clamp(16px, 8px + 1.1vw, 40px) !important;
}

.fs-100 {
  font-size: clamp(40px, 10px + 3.5vw, 100px) !important;
}

.py-100 {
  padding-block: clamp(50px, 6vw, 100px);
}

.sidebar .search-input .css-u9pgfk-MuiInputBase-root-MuiOutlinedInput-root {
  width: 100% !important;
}

.css-1d3ml05-MuiPopper-root-MuiTooltip-popper {
  z-index: 99 !important;
}

.css-1ylgca0-MuiModal-root-MuiPopover-root-MuiMenu-root
  .MuiPaper-root::-webkit-scrollbar {
  background-color: #212529 !important;
  border: #212529 !important;
}

.search-bar .css-u9pgfk-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: #000000;
}

.search-bar
  .css-u9pgfk-MuiInputBase-root-MuiOutlinedInput-root
  .MuiOutlinedInput-input {
  height: 1.9em;
  font-size: 14px;
  font-weight: 600;
}

.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  -webkit-text-fill-color: #fff !important;
}
